h1{

	font-size: 150px;
	font-family: sans-serif;
	color: #66FF00;
	border-bottom: 0px;
}

#maintitle{

	padding-left: 100px;
	padding-bottom: 0px;
}

#results{

	font-size: 100px;
	font-family: sans-serif;
	color: #66FF00;
}

#rbox{

	
	padding-left: 100px;
	
}

h2{

	border: 0px;

	margin-top: 0px;
}

#buttonbox{

		padding: 0px;

}

#trigger{

	margin-top: -50px;
	size: 200px;
	border-radius: 100px;
	font-size: 50px;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	
}

html{

	background-color: black;
}